<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kakebo | {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mini-default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        Kakebo Web - BZ VII
    </header>
    {% with mensajes = get_flashed_messages(with_categories = true) %} <!-- Función específica de Jinja que contiene los mensajes a los que hemos hecho flash. Al meterlo en base estará disponible tanto para el fichero alta como para el de movimientos. El true en Jinja va en minusculas, como en JS. -->
        {% if mensajes %}
        <div class="popup">
            {% for tipo, mensaje in mensajes %} 
            <p class="{{tipo}}">{{ mensaje }}</p> <!-- Este es el equivalente en Jinja a print, aqui dice que muestre cada mensaje que haya sido flasheado segun el for de la linea anterior -->
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    <section class="container">
        {% block contenido %}{% endblock %}
    </section>
    <footer>
        &copy; Todos los derechos reservados 2021 
    </footer>
</body>
</html>
