{% extends 'base.html' %}

{% block titulo%}Inicio{%  endblock %}

{% block contenido %}
    <h1>Listado de movimientos <a href="/nuevo">Crear movimiento</a> </h1>
    <table>
        <tr>
            <th>Fecha</th>
            <th>Concepto</th>
            <th>Categoría</th>
            <th>Tipo</th>
            <th>Cantidad</th>
            <th>Saldo</th>
            <th></th>
        </tr>
        {% for movimiento in datos %}
        <tr>
            <td>{{ movimiento.fecha }}</td>
            <td>{{ movimiento.concepto }}</td>
            <td>{{ movimiento.categoria }}</td>
            <td> {% if movimiento.esGasto == 0 %}
                    Ingreso
                    {% else %}
                    Gasto
                {% endif %}
            </td>
            <td>{{ movimiento.cantidad }} €</td>
            <td>{{ movimiento.saldo }} €</td>
            <td class="btn">Borrar</td> <!-- Con esta clase creamos el boton de borrado de registros -->
                <a href="/borrar/{{movimiento.id}}"></a> <!-- La etiqueta <a> sirve para crar enlaces y el hrf redirige a la ruta a la que queremos que lleve ese enlace  -->
        </tr>
        {% endfor %}
    </table>
{% endblock %}

        </table>
    </section>
    <footer>
        &copy; Todos los derechos reservados 2021
    </footer>
</body>
</html>


